@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

html, body {
	scroll-behavior: smooth;
}

body {
	background-color: #262626;
	font-family: 'PT Sans Narrow', sans-serif;
	min-height: 150vh;
}

.titleHeader {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    padding-top: 1em;
}

.titleWelcome {
    font-family: 'PT Sans Narrow', sans-serif;
    color: rgb(214, 214, 214);
    font-size: 6vh;
}

.titleTaberna {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    text-align: center;
    color: coral;
    font-size: 14vh;
    flex: -3em;
}